.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.wrapper {
  display: grid;
  place-items: center;
}

.typingdemo {
  width: 22ch;
  animation: typing 2s steps(18), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-800%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slidein {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  opacity: 0;
  animation: slideIn 2s ease-out forwards;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.button {
  display: inline-block;
}
