.wrapper {
  height: 96vh;
  display: grid;
  place-items: center;
}

.typing {
  width: 24ch;
  animation: typing 2s steps(24), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  transition: transform 0.5s ease;
}

.box.move {
  transform: translateX(-200px); /* Change this to adjust the movement */
}
